.svg-facebook {
	background: url("svg/sprite.css-0da4bda5.svg") 0 0 no-repeat;
}

.svg-facebook-dims {
	width: 32px;
	height: 32px;
}

.svg-flickr {
	background: url("svg/sprite.css-0da4bda5.svg") 50% 0 no-repeat;
}

.svg-flickr-dims {
	width: 32px;
	height: 32px;
}

.svg-github {
	background: url("svg/sprite.css-0da4bda5.svg") 0 50% no-repeat;
}

.svg-github-dims {
	width: 32px;
	height: 32px;
}

.svg-googleplus {
	background: url("svg/sprite.css-0da4bda5.svg") 50% 50% no-repeat;
}

.svg-googleplus-dims {
	width: 32px;
	height: 32px;
}

.svg-linkedin {
	background: url("svg/sprite.css-0da4bda5.svg") 100% 0 no-repeat;
}

.svg-linkedin-dims {
	width: 32px;
	height: 32px;
}

.svg-pinterest {
	background: url("svg/sprite.css-0da4bda5.svg") 100% 50% no-repeat;
}

.svg-pinterest-dims {
	width: 32px;
	height: 32px;
}

.svg-twitter {
	background: url("svg/sprite.css-0da4bda5.svg") 0 100% no-repeat;
}

.svg-twitter-dims {
	width: 32px;
	height: 32px;
}

.svg-youtube {
	background: url("svg/sprite.css-0da4bda5.svg") 50% 100% no-repeat;
}

.svg-youtube-dims {
	width: 32px;
	height: 32px;
}

